body {
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    margin: 0;
    position: relative;
    bottom: 16px;
}

.top-banner {
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 675px;
}

.headline {
    color: white;
    text-shadow: 3px 3px black;
    font-size: 25px;
    position: relative;
    left: 20px;
    top: 170px;
}

.description {
    color: white;
    position: relative;
    left: 20px;
    top: 170px;
}

header a {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    position: relative;
    top: 15px;


}

a:hover {
    color: black;
    background-image: linear-gradient(red, orange);

}

.section-two {
    display: flex;
    position: absolute;
    top: 750px;
    padding: 10px 10px;
    margin-left: 115px;

    width: 100%;
    align-items: center;



}

.section-two h1 {
    color: antiquewhite;
    font-size: 40px;
    text-shadow: 4px 4px 4px black;

}

.section-two video {
    height: 320px;
    width: 550px;
    position: absolute;
    top: 68px;
    left: 550px;

}

.section-two a {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    position: relative;
    top: 15px;
}

.section-two-first-child {
    position: relative;
    top: 45px;
}

.section-two a:hover {
    color: black;
    background-image: linear-gradient(red, orange);
}

.section-three {
    display: flex;
    position: absolute;
    top: 1250px;
    padding: 10px 10px;
    margin-left: 115px;

    width: 100%;
    align-items: center;
}

.section-three video {
    height: 320px;
    width: 550px;
    position: absolute;
    top: 20px;
    right: 820px;
}

.section-three h1 {
    color: antiquewhite;
    font-size: 40px;
    text-shadow: 4px 4px 4px black;
}

.section-three a {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    position: relative;
    top: 15px;

}

.section-three a:hover {
    color: black;
    background-image: linear-gradient(red, orange);
}

.section-three-second-child {
    position: relative;
    left: 600px;
    bottom: 6px;
}

.section-four {
    position: relative;
    top: 1000px;
}

.section-four h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

.section-four hr {
    margin-left: 30%;
    margin-right: 30%;
}

.section-four-paragraph {
    text-align: center;
}

.section-five-container {
    position: relative;
    top: 950px;
    display: flex;
    margin: 10% 10%;

}

.section-five-child {
    width: 50%;
    float: left;
    margin: 20px;
    padding: 20px;
    border: 0px solid red;
    background-color: wheat;
}

#image-one {
    height: 80px;
    width: 80px;
    position: relative;
    left: 390px;
    bottom: 250px;
}

#image-two {
    height: 80px;
    width: 80px;
    position: relative;
    left: 390px;
    bottom: 190px;
}

.section-six-container {
    position: relative;
    top: 820px;
    display: flex;
    margin: 10% 10%;

}

.section-six-child {
    width: 50%;
    float: left;
    margin: 20px;
    padding: 20px;
    border: 0px solid red;
    background-color: wheat;
}

#image-three {
    height: 80px;
    width: 80px;
    position: relative;
    left: 390px;
    bottom: 250px;
}

#image-four {
    height: 80px;
    width: 80px;
    position: relative;
    left: 390px;
    bottom: 230px;
}

.section-seven-container {
    position: relative;
    top: 700px;
    left: 18px;
    margin: 10% 10%;
}

.section-seven-child img {
    height: 100px;
    width: 100px;
    float: left;
    padding: 10px;
    margin: 70px;
    border: 2px solid red;
}


.section-eight-gif {
    position: relative;
    top: 670px;
    left: 410px;
}

.section-eight-container {
    display: block;
}

.section-eight-audio {
    top: 1200px;
}

.class-eight-audio {
    position: relative;
    top: 700px;
    left: 550px;
}

.section-nine-container {
    position: relative;
    top: 700px;
    left: 450px;
}

.section-nine-text {
    color: antiquewhite;
    font-size: 35px;
    text-shadow: 4px 4px 4px black;

}

.section-nine-paragraph {
    position: relative;
    left: 180px;
}

.section-ten-container {
    width: 100%;
    position: relative;
    top: 630px;
    right: 80px;


    margin: 10% 10%;

}

.section-ten-child img {
    height: 300px;
    width: 400px;
    float: left;
    padding: 10px;


}

.section-eleven img {
    width: 1240px;
    position: relative;
    top: 650px;
    left: 65px;
}

.class-twelve-child {
    position: relative;
    top: 670px;
    left: 510px;
    color: antiquewhite;
    font-size: 35px;
    text-shadow: 4px 4px 4px black;
}

.section-thirteen-container {
    position: relative;
    width: 100%;
    top: 650px;
    right: 12px;
    margin: 5% 5%;
}

.section-thirteen-child img {
    height: 300px;
    width: 400px;
    float: left;
    padding: 10px 10px;

    border: 0px solid red;
}

.section-fourteen-container {
    position: relative;
    width: 100%;
    top: 650px;
    right: 12px;
    margin: 5% 5%;
}

.section-fourteen-child img {
    height: 300px;
    width: 400px;
    float: left;
    padding: 10px 10px;

    border: 0px solid red;
}

.section-fifteen-container {
    position: relative;
    width: 100%;
    top: 650px;
    right: 12px;
    margin: 5% 5%;
}

.section-fifteen-child img {
    height: 300px;
    width: 400px;
    float: left;
    padding: 10px 10px;

    border: 0px solid red;
}

.section-sixteen h1 {
    text-align: center;
    position: relative;
    top: 680px;
    left: 45px;
    color: antiquewhite;
    font-size: 35px;
    text-shadow: 4px 4px 4px black;
}

.section-seventeen-container {
    position: relative;
    width: 100%;
    top: 650px;
    right: 12px;
    margin: 5% 5%;
    display: flex;

}

.section-seventeen-child img {
    height: 300px;
    width: 400px;
    margin: 5px 5px;


}

.section-seventeen-child {
    margin: 5px 5px;
    position: relative;
    right: 2px;
    padding: 2px 2px;
    background-color: antiquewhite;
}

.section-seventeen-child a {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    position: relative;
    top: 15px;
}

.section-seventeen-child a:hover {
    color: black;
    background-image: linear-gradient(red, orange);
}