body {
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    margin: 0;
    position: relative;
    bottom: 16px;
}

.top-banner {
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 675px;
}

.headline {
    color: white;
    text-shadow: 3px 3px black;
    font-size: 25px;
    position: relative;
    left: 20px;
    top: 170px;
}

.description {
    color: white;
    position: relative;
    left: 20px;
    top: 170px;
}

header a {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    position: relative;
    top: 15px;


}

a:hover {
    color: black;
    background-image: linear-gradient(red, orange);

}

.section-two {
    display: flex;
    position: absolute;
    top: 750px;
    padding: 10px 10px;
    margin-left: 115px;

    width: 100%;
    align-items: center;



}

.section-two h1 {
    color: antiquewhite;
    font-size: 40px;
    text-shadow: 4px 4px 4px black;

}

.section-two video {
    height: 320px;
    width: 550px;
    position: absolute;
    top: 68px;
    left: 550px;

}

.section-two a {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    position: relative;
    top: 15px;
}

.section-two-first-child {
    position: relative;
    top: 45px;
}

.section-two a:hover {
    color: black;
    background-image: linear-gradient(red, orange);
}

.section-three {
    display: flex;
    position: absolute;
    top: 1250px;
    padding: 10px 10px;
    margin-left: 115px;

    width: 100%;
    align-items: center;
}

.section-three video {
    height: 320px;
    width: 550px;
    position: absolute;
    top: 20px;
    right: 820px;
}

.section-three h1 {
    color: antiquewhite;
    font-size: 40px;
    text-shadow: 4px 4px 4px black;
}

.section-three a {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    position: relative;
    top: 15px;

}

.section-three a:hover {
    color: black;
    background-image: linear-gradient(red, orange);
}

.section-three-second-child {
    position: relative;
    left: 600px;
    bottom: 6px;
}

.section-four {
    position: relative;
    top: 1000px;
}

.section-four h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

.section-four hr {
    margin-left: 30%;
    margin-right: 30%;
}

.section-four-paragraph {
    text-align: center;
}